body {
    background-image:  url('../images/background.png');
    background-size: cover;
}

main {
    height: 100vh;
}

.card {
    height: 500px;
    position: relative;
}

.status-container {
    position: absolute;
    bottom: 5px;
    width: 80%;
 }


