body {
    background-image:  url('../images/background.jpg');
    background-size: cover;
    font-family: 'Asap Condensed', sans-serif;
    letter-spacing: 1px;
}

.navbar-brand {
    max-width: 15%;
}

main {
    height: 100vh;
}

.side-bar {
    width: 50%;
    padding: 2%;
    background-color: #ffffff;
}

.filter {
   text-align: center;
}

.all-filters, .category-filters {
    display: none;
    font-size: 1rem;
}


.filter-container {
    background-color: #131212;
}

legend {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 3%;
}

label {
    font-weight: 300;
    padding-left: 5px;
}

legend:hover {
    cursor: pointer;
}


.card {
    height: 500px;
    position: relative;
    background-color: #131212;
    padding: 0;
    border-radius: 20px 0;
}

.card-img-top {
    height: 200px;
    width: 200px;
    align-self: center;
    border-radius: 10px;
    padding-top: 5px;
}

.card-body {
    background-color: #83C046;
    margin-top: 5px;
    border-radius: 20px 0;
}

.card-title {
    font-size: 1.5rem;
    color: #131212;
    font-weight: 700;
}

.card-text {
    color: #131212;
    font-weight: 300;
}

.category {
    font-weight: 700;
}

.status-container {
    position: absolute;
    bottom: 5px;
    width: 80%;
    color: #ffffff;
 }



